html{height: 100%;width: 100%;overflow-x: hidden;scroll-behavior: smooth;}
body{height: 100%;width: 100%}

h1 {font-size: 2em;}
h3 {font-size: 1.3em;}

.tile-holder{margin-top: 5vh;width: 80vw;height: 150px;margin-left: 20px;}
.tile{width: 300px; height: 150px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
    transition: all .5s;
    border-radius: 15px;
    float: left;
    margin-right: 4vw;
    transform: translate(0vw,0);}

.tile-subtitle {font-family: 'Roboto Mono', monospace;
                color: white;
                font-weight: 900;}

.tile h3 {margin-left: 15px;margin-bottom: 0px;}

.black {color: #1c1c1c;font-weight: 900;}
.title_font {font-family: 'ZCOOL QingKe HuangYou', cursive;}

.tile:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }

.c_img {margin-top: 37px;}

#n1 {background: #23074d;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #cc5333, #23074d);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #cc5333, #23074d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#n2{
  background: #11998e;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#n3 {background: #FF416C;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FF4B2B, #FF416C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#n4 {background: #FDC830;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #F37335, #FDC830);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #F37335, #FDC830); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#n5 {background: #fe8c00;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f83600, #fe8c00);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f83600, #fe8c00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#n6 {background: #56CCF2;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2F80ED, #56CCF2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#n7 {background: #b92b27;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #1565C0, #b92b27);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #1565C0, #b92b27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#n8 {background: #7F00FF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #E100FF, #7F00FF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #E100FF, #7F00FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.main-title{font-family: 'ZCOOL QingKe HuangYou', cursive;color: #1c1c1c;margin-left: 20px;margin-bottom: 0px;}
hr {color: #1c1c1c;background-color: #1c1c1c;height: 7px;width: 75px;
    float: left;margin-left: 20px;margin-top: 0px;margin-bottom: 0px;}
a:link {text-decoration: none;}a:visited {text-decoration: none;}a:hover {text-decoration: none;}a:active {text-decoration: none;}

.fl {width: 100px;position: fixed;
    transform: translate(60vw,5vh);height: 50px;
    background-color: white;border-radius: 50px;
    color: black;font-weight: 900;
    font-family: 'Roboto Mono', monospace;
    padding: 13px;}


.option {color: #1c1c1c;border: solid 2px black;padding: 10px;
  width: 300px;transition: all 1s;margin-bottom: 10px;
  font-size: .8em;}
.option:hover {width: 325px;color: red;
    border-right-color: crimson;border-right-width: 5px;}

.ac {color: #1c1c1c;}
.ac:hover {color: red;}

@media (max-width: 500px) {
    .tile {margin-bottom: 20px;}
    .fl {transform: translate(100vw,5vh);}

    }
