:root {
  --highlight: rgb(72, 72, 157);
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
}



#main-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#navbar {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 20px 10% 20px 10%;
  background-color: var(--highlight);
}

.navbar-ele {
  color: rgb(232, 232, 232);
  margin-right: 40px;
  text-decoration: none;
}

.navbar-ele-active {
  color: white;
  font-weight: bold;
  margin-right: 40px;
  text-decoration: none;
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10% 0 10%;
  flex-grow: 1;
}

/* Work Experience Related Stuff */
.xp-container {
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.xp-logo-container {
  width: 180px;
}

.xp-text-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.xp-company {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 0;
  color: var(--highlight);
}

.xp-position {
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
  margin-bottom: 0;

}

.xp-desc {

}

.xp-desc-item {

}

.interest-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1000px;
}

.interest-img {
  height: 200px;
  margin: 10px 10px 10px 10px;
}

.interest-img:hover {
  opacity: 0.5;
  transition: 100ms;
}

.icon {
  height: 50px;
  width: 50px;
}